.secondSection{
    background: var(--backGround);
    height: 336px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap!important;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 1300px) {
    .secondSection{
        width: 90%;
    }

    .item{
        width: 28%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 960px) {
    .secondSection{
        width: 90%;
    }
    .item{
        width: 40%;
        /* margin-left: 5%; */
    }
}