.secondSection{
    background: var(--backGround);
    height: 336px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 1200px) {
    .secondSection{
        width: 90%;
        margin-left: 55px;
    }
}