.sectionPage{
    width: 738px;
    height: 352px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.codeTitle{
    background: var(--backGround);
    text-align: center;
    color: var(--purple);
    height: 16px;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
}

.pages{
    margin-top: 1px;
    color: var(--purple);
    background: var(--backGround);
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 16px;
    margin-left: 48px;
    width: 69px;
    background: var(--white);
}

.main{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 48px;
    background: var(--backGround);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-left: 2px solid transparent;
    color: var(--purple);
    transition: 0.8s;
}

.icon:hover{
    background:rgb(110, 115, 184, 0.2);
    transition: 0.8s;
    border-left: 2px solid var(--purple);
}

.code{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 690px;
}

.rightBar>img{
    width: 100px;
    height: 304px;
}

.text{
    padding: 0px 0px 10px 20px;
}

.divFooter{
    background: var(--purple);
    position: absolute;
    width: 738px;
    height: 16px;
    font-size: 12px;
    color: var(--white);
    border-radius: 0px 0px 5px 5px;
    margin-top: -15px;
}

.divItems{
    align-items: center;
    margin: 0px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 1.5px;
}