@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

.card{
    width: 310px;
    height: 336px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    color: var(--purple);
    box-shadow: var(--shadow);
}

.imageCard{
    width: 278px;
    height: 160px;
    border-radius: 10px;
    background-color: var(--purple);
}

.titleCard{
    font-weight: 700;
}


.cardParagraph{
    font-family: "Flow Circular", system-ui;
}

.buttonCard{
    width: 278px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: var(--purple);
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

.buttonCard:hover{
    background: var(--lightPurple);
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .card{
        width: 80%;
    }

    .imageCard{
        width: 90%;
    }

    .cardParagraph{
        margin: 0px 10px 0px 10px;
    }

    .buttonCard{
        width: 90%;
    }
    
}