.navbar {
    align-items: center;
    background: var(--linear);
    border-radius: 10px;
    display: flex;
    height: 64px;
    justify-content: space-between;
    position: fixed;
    padding: 0px 32px 0px 32px;
    top: 16px;
    width: 1080px;
    box-shadow: var(--shadow);
    z-index: 9;
}

.navRight{
    align-items: center;
    display: flex;
    gap: 32px;
}

.navegation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 417.93px;
}

.links{
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
}

.links:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--white);
    border-radius: 2px;
}

.link{
    text-decoration: none;
    color: var(--white);
}