.navbar {
    align-items: center;
    background: var(--linear);
    border-radius: 10px;
    display: flex;
    height: 64px;
    justify-content: space-between;
    position: fixed;
    padding: 0px 32px 0px 32px;
    top: 16px;
    width: 56.6%;
    box-shadow: var(--shadow);
    z-index: 9;
    color: var(--white);
}

.menu{
    align-items: center;
    display: flex;
    gap: 32px;
}

.menuItem{
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
    border-bottom: 3px solid transparent;
}

.menuItem:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--white);
    border-radius: 2px;
}


.menu .menuItem:last-child{
    position: absolute;
}

.bars{
    display: none;
}

.active:before{
    display: none;
    content: '';
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 1200px) {
    .navbar{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .active{
        display: flex;
        flex-wrap: wrap;
        height: 600px;
    }
    

    .navBar{
        width: 80%;
        /* padding-bottom: 1rem;
        position: relative; */
    }

    .bars{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 10;
        
    }
    
}