.header {
    width: 56.6%;
    background-color: var(--purple);
    color: var(--white);
    position: fixed;
    top: 16px;
    border-radius: 10px;
    height: 6%;
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }
  
  .header-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .toggle-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  
  .nav.expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .listHeader {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listHeader li {
    margin-left: 20px;
  }
  
  .link {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
  }

  .link:hover{
    border-bottom: 3px solid var(--white);
    border-radius: 2px;
  }
  
  @media (max-width: 480px) {

    .header {
        height: auto;
        width: 400px;
    }

    .header-content {
      flex-direction: column;
      align-items: center;
      margin: -7px 0px 0px -55%;
    }
  
    .toggle-button {
      display: flex;
      position: fixed;
      margin: 3px 0px 0px 550px;
    }
  
    .nav {
      display: none;
      
    }
  
    .nav.expanded {
      display: flex;
    }
  
    .listHeader {
      padding: 0px 0px 0px 95%;
      margin-top: 10px; 
    }
  
    .listHeader li {
      margin: 10px 0;
    }
  }
  