.footer{
    width: 100vw;
    height: 320px;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
}

.listFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 399px;
}

.iconsFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 192px;
}