.thirdSection{
    margin: 40px 0px 50px 0px;
    width: 1300px;
    height: 416px;
    background: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

@media screen and (max-width: 1200px) {
    .thirdSection {
        width: 90%;
    }
}