.figure{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 350px;
    height: 352px;
    background: var(--linear);
    box-shadow: var(--shadow);
}

@media screen and (max-width: 1200px) {
    .figure{
        width: 30%;
    }

    .figure>img{
        width: 80%;
    }
}